body {
    background-color: #000000;
    background-image: url(https://s.pinimg.com/webapp/style/app/common/images/inspired-desktop/bg_wood_floors_grid-ca3c3482.jpg);
    background-size: cover;
    position: fixed;
    /*-webkit-animation: scrollBgGridLinks 35s linear;*/
    margin: 0;
    position: relative;
    color: rgb(33, 25, 34);
    font-size: 12px;
    height: 100%;
}
header {
	float: right;
}
button.logInButton {
	border: 0px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    padding: 0 43px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    position: absolute;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: #ebebeb;
    color: #444;
    right: 25px;
    top: 15px;
}
main.mainModalWindow {
	background-color: #fff;
    border-radius: 8px;
    height: 533px;
    margin-left: -400px;
    margin-top: 100px;
    width: 800px;
    left: 50%;
    top: 50%;
    position: absolute;
}
div.mainBoxLeft {
	float: left;
	height: 100%;
	width:50%;
}
div.mainBoxRight {
	float: right;
	height: 100%;
	width:50%;
}
div.mainBoxRightTop {
	display: block;
	height: 55px;
	width: 55px;
	position: relative;
	margin: 30px auto 0;
}
img.sizing {
	display: block;
	width: 50px;
	height: 50px;
}
p.welcome {
	margin: 5px 26px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #555;
}
p.world {
	margin: -10px 26px 30px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #b5b5b5;
}
div.signUpOptions {
	margin: 0 auto;
	width: 260px;
}
div.signUpForm {
	display: block;
	margin-top: 0em;
	text-align: center;

}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    
    }

fieldset.email {
	position: relative;
	margin-bottom: 7px;
	border: 0;
	margin: 0;
	padding: 0;
}
}
fieldset.password {
	position: relative;
	border: 0;
	margin: 0;
	padding: 0;
}
button.continueButton {
	border: 0px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: #bd081c;
    color: #fff;
    width: 100%;
}
p.orDivider {
	margin-bottom: 3px;
    overflow: hidden;
    text-align: center;
    color: #555;
    font-weight: bold;
}
button.facebookButton {
	border: 0px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 18px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: #4627b2;
    color: #fff;
    width: 100%;
}
div.termsOfService {
	margin-top: 15px;
}
p.termsText {
	width: 224px;
	font-size: 12px;
	text-align: center;
	color: #aaa;
}
div.bottomFloatLinks {
	bottom: 10px;
    left: 0px;
    margin-bottom: 6px;
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;
}
a.bottomFloatLinks {
	 color: #fff;
    font-size: 11px;
    font-weight: normal;
    max-width: 135px;
    padding: 4px 7px;
}
div.bottomLinksBar {
	background-color: #fff;
    bottom: -30px;
    height: 30px;
    left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
}
div.bottomLinksBarText {
	position: relative;
	top: 50%;
	display: block;
	text-align: center;
}
footer {
	margin-top: 400px;
	margin-bottom: 2px;
	color: #999;
    font-size: 10px;
    font-weight: bold;
    padding: 0 3px;
    height: -260px;
}